version: '3.8'

services:


  redis:
    image: redis
    container_name: crm_mono_redis
    ports:
      - "6379:6379"


  mysql:
    image: mysql:8.0
    container_name: crm_mono_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: crm
      MYSQL_USER: user
      MYSQL_PASSWORD: secret
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:

