:root.yellow-light {
    --radius: 0.5rem;
    --background: oklch(0.91 0.1433 107.58);
    --foreground: oklch(0.26 0.04 95);
    --card: oklch(0.98 0.005 95);
    --card-foreground: oklch(0.26 0.04 95);
    --popover: oklch(0.98 0.005 95);
    --popover-foreground: oklch(0.26 0.04 95);
    --primary: oklch(0.78 0.21 95); /* насыщенный жёлтый */
    --primary-foreground: oklch(0.32 0.1 85);
    --secondary: oklch(0.95 0.01 95);
    --secondary-foreground: oklch(0.22 0.02 85);
    --muted: oklch(0.95 0.01 95);
    --muted-foreground: oklch(0.45 0.03 85);
    --accent: oklch(0.95 0.01 95);
    --accent-foreground: oklch(0.22 0.02 85);
    --destructive: oklch(0.6 0.2 25);
    --destructive-foreground: oklch(0.98 0.01 95);
    --border: oklch(0.93 0.01 85);
    --input: oklch(0.93 0.01 85);
    --ring: oklch(0.78 0.21 95);

    --sidebar: oklch(0.98 0.005 95);
    --sidebar-foreground: oklch(0.26 0.04 95);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.26 0.04 95);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.26 0.04 95);
    --sidebar-border: oklch(0.269 0 0);
    --chart-1: oklch(0.74 0.18 80);
    --chart-2: oklch(0.6 0.16 140);
    --chart-3: oklch(0.55 0.12 200);
    --chart-4: oklch(0.8 0.16 90);
    --chart-5: oklch(0.76 0.14 70);
}
